*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
    
    
}
/* #0B5ED7 */
/* html{
    background-color: #f7f7f7;
    
} */

.heading{
    background-color: #0B5ED7;
    border-radius: 8px;
    margin: 10px 20px;
    padding: 10px 0px;
}

.heading > h1{
    text-align: center;
    font-size: 2rem;
    color: #fff;

}

.PostUser{
    text-align: center;
    margin: 30px 0px;
}

.PostUser > h1 {
    font-size: 1.3rem;
    cursor: pointer;
}

.input{
    padding: 4px 90px;
    text-align: center;
    border-radius: 6px;
}

.btn{
    padding: 4px 20px;
    border-radius: 6px;
    color: #fff;
    background-color: #0B5ED7;
    border: none;
    margin: 10px;
}
.btn:hover{
    color: #0B5ED7;
    background-color: #fff;
    border-bottom: 1px solid #0B5ED7;
}

.Register{
    text-align: center;
    font-size: 2rem;
    font-family: 'Baloo 2', cursive;
}

.table{
    display: flex;
    justify-content: center;
}
#employees{
    margin: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    /* background-color: #; */
}
#show-update-content ,#delete-content{
display: none;
}

.footer{
    text-align: center;
    /* margin: 10px; */
    background-color: #0B5ED7;
    color: #fff;
    padding: 20px;
    margin-bottom: 0%;
   
    
}

#footerA {
    color: #fff;  
}

#footerA:hover{
    color: #000;  
}
.or{
    text-align: center;
    color: rgb(224, 213, 213);
    color: #000;
}


/*  */
.inputSection{
    margin: 30px auto;
   
}

#btn{
    
    color: #fff;
    background-color: #0B5ED7;
    margin: 10px auto;
    display: flex;

}   

#btn:hover{
    background-color: #fff;
    color: #0B5ED7;
    border: none;
    border-bottom: 2px solid #0B5ED7;
}

#editTable{
    display: flex;
    flex-direction: column;
}
/* #headingTable{
    display: flex;
    flex-direction: row;
    padding: 10px;
} */


/* Media Query */
@media screen and (max-width: 960px) {
    html{
        font-size: 80%;
    }
  }
@media screen and (max-width: 749px) {
    html{
        font-size: 60%;
        font-weight: 900;
    }
  }
@media screen and (max-width: 600px) {
    .container{
        font-size: 70%;
        font-weight: 900;
    }
  }
@media screen and (max-width: 376px) {
    .container{
        font-size: 50%;
        font-weight: 900;
    }
  }
